프로브데이터전송_수정필요.json
[{"id":"aa2aec.4165f518","type":"function","z":"3e59e8b9.dea108","name":"setArgs2","func":"if(msg.payload.length > 0 && msg.payload[0] && msg.payload[0].link_id){\n    // MapMatch result becomes list and the first one is nearest link_id\n    msg.link_id = msg.payload[0].link_id;\n    // msg.trip_id\n    msg.matched_heading = msg.payload[0].matched_heading;\n    msg.matched_longitude = msg.payload[0].matched_longitude;\n    msg.matched_latitude = msg.payload[0].matched_latitude;\n    // msg.mo_id\n    \n    msg.payload = null;\n    \n    return [msg, null];\n}else{\n    msg.link_id = '';\n    msg.matched_heading = msg.rawData.heading;\n    msg.matched_longitude = msg.rawData.longitude;\n    msg.matched_latitude = msg.rawData.latitude;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":523.2726898193359,"y":207.28571319580078,"wires":[["266ee327.c0e2bc","ffe75ebc.1b443"],["d1db5ea5.c72a1"]]},{"id":"d59789cd.2686d8","type":"ibmiot in","z":"3e59e8b9.dea108","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"MyCar","applicationId":"","deviceType":"CAR","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":79.897705078125,"y":105.35714721679688,"wires":[["51c65651.979298","6e25c304.35b5fc"]]},{"id":"b1e9dac6.5076d8","type":"http request","z":"3e59e8b9.dea108","name":"carProbe","method":"POST","ret":"obj","url":"https://{{driverHostname}}/driverinsights/datastore/carProbe?tenant_id={{driverTenantId}}","tls":"","x":726.6476898193359,"y":323.0357131958008,"wires":[["126b183f.643808"]]},{"id":"e986dee8.e543","type":"function","z":"3e59e8b9.dea108","name":"setArgs1","func":"\nmsg.rawData = msg.payload.d;\n\n// '+' must be URL encoded\n//msg.timestamp = encodeURIComponent(msg.payload.timestamp);\nmsg.timestamp = msg.rawData.timestamp;\nmsg.heading = msg.rawData.heading;\nmsg.mo_id = msg.deviceId;\nmsg.trip_id = msg.rawData.trip_id;\nmsg.longitude = msg.rawData.longitude;\nmsg.latitude = msg.rawData.latitude;\nreturn msg;","outputs":1,"noerr":0,"x":473.8976287841797,"y":99.78567504882812,"wires":[["5d856c71.aa9194","79a92fa0.275ae"]]},{"id":"126b183f.643808","type":"debug","z":"3e59e8b9.dea108","name":"","active":true,"console":"false","complete":"true","x":884.1476898193359,"y":325.0357131958008,"wires":[]},{"id":"5d856c71.aa9194","type":"debug","z":"3e59e8b9.dea108","name":"","active":false,"console":"false","complete":"true","x":599.8976898193359,"y":47.785675048828125,"wires":[]},{"id":"79a92fa0.275ae","type":"http request","z":"3e59e8b9.dea108","name":"mapMatching","method":"GET","ret":"obj","url":"https://{{mapHostname}}/mapinsights/mapservice/map/matching?tenant_id={{mapTenantId}}&heading={{heading}}&mo_id={{mo_id}}&trip_id={{trip_id}}&longitude={{longitude}}&latitude={{latitude}}","tls":"","x":290.0226745605469,"y":202.28571319580078,"wires":[["aa2aec.4165f518","8938545b.e239b8"]]},{"id":"d1db5ea5.c72a1","type":"function","z":"3e59e8b9.dea108","name":"setArgs3","func":"var type = null;\nif(msg.payload.links && msg.payload.links[0] && msg.payload.links[0].properties && msg.payload.links[0].properties.type){\n    type = msg.payload.links[0].properties.type;\n}else {\n    type = '5';\n}\n\n\nmsg.payload = {};\n\nmsg.payload.road_type = type;\nmsg.payload.trip_id = msg.trip_id;\nmsg.payload.timestamp = msg.rawData.timestamp;\nmsg.payload.matched_heading = msg.matched_heading;\nmsg.payload.speed = msg.rawData.speed;\nmsg.payload.matched_longitude = msg.matched_longitude;\nmsg.payload.mo_id = msg.deviceId;\nmsg.payload.matched_latitude = msg.matched_latitude;\nmsg.payload.matched_link_id = msg.link_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":529.0226898193359,"y":339.0357131958008,"wires":[["b1e9dac6.5076d8","64b02a16.7bc514"]]},{"id":"8938545b.e239b8","type":"debug","z":"3e59e8b9.dea108","name":"","active":false,"console":"false","complete":"true","x":323.7726287841797,"y":286.2857131958008,"wires":[]},{"id":"266ee327.c0e2bc","type":"http request","z":"3e59e8b9.dea108","name":" getLinkInformation","method":"GET","ret":"obj","url":"https://{{mapHostname}}/mapinsights/mapservice/link?tenant_id={{mapTenantId}}&link_id={{link_id}}","tls":"","x":752.5226898193359,"y":206.03571319580078,"wires":[["d1db5ea5.c72a1","868b9fd6.b7419"]]},{"id":"868b9fd6.b7419","type":"debug","z":"3e59e8b9.dea108","name":"","active":false,"console":"false","complete":"true","x":891.5226898193359,"y":142.28571319580078,"wires":[]},{"id":"ffe75ebc.1b443","type":"debug","z":"3e59e8b9.dea108","name":"","active":false,"console":"false","complete":"true","x":694.522705078125,"y":129.53570556640625,"wires":[]},{"id":"64b02a16.7bc514","type":"debug","z":"3e59e8b9.dea108","name":"","active":false,"console":"false","complete":"true","x":627.0226898193359,"y":416.53568267822266,"wires":[]},{"id":"51c65651.979298","type":"debug","z":"3e59e8b9.dea108","name":"","active":false,"console":"false","complete":"true","x":230.57626342773438,"y":51,"wires":[]},{"id":"6e25c304.35b5fc","type":"function","z":"3e59e8b9.dea108","name":"Common Config","func":"msg.mapTenantId = \"\";\nmsg.driverTenantId = \"\";\nmsg.mapHostname =\"automotive.internetofthings.ibmcloud.com\";\nmsg.driverHostname = \"automotive.internetofthings.ibmcloud.com\";\nreturn msg;","outputs":1,"noerr":0,"x":282.39768981933594,"y":106.78570556640625,"wires":[["e986dee8.e543"]]}]